@charset "UTF-8";

/* SP対応
--------------------------- */
@media screen and (max-width: 1023px) {
    .company {
        .title:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }
    /* 料金テーブルセクション
    --------------------------- */
    .company-table {
        padding: 16px 0 40px;
        .company-table--title {
            margin: 0 0 24px 0;
            font-size: 24px;
        }
        .company-table--title::after {
            width: 143px;
        }
        .company-table--title--company::after {
            width: 95px;
        }
        table {
            border: solid 1px #aaa;
        }
        .company-table--kind {
            width: auto;
            font-size: 20px;
            background: #eee;
        }
        .company-table--item {
            font-size: 20px;
        }
        
        tr {
            margin: 0 0 16px 0;
            border-top: solid 1px #aaa;
        }
        th ,td {
            border: none;
        }
        td {
            display: block;
        }
        td::before {
            content: attr(data-label);
            font-size: 20px;
            color: #666;
            display: block;
            margin-bottom: 0.25rem;
        }
    }
}