@charset "UTF-8";
/* 全体
--------------------------- */
.company {
    max-width: none;
    padding: 0 18px;
    .title:not(:last-child) {
        margin-bottom: 70px;
    }
}

/* 料金テーブルセクション
--------------------------- */
.company-table {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0 70px;
    .company-table--title {
        font-size: 28px;
        margin: 0 0 32px 0;
    }
    .company-table--title::after {
        content: '';
        display: block;
        width: 167px;
        height: 1px;
        margin: 4px 0 0 0;
        border: solid 1px #242424;
    }
    .company-table--title--company::after {
        width: 110px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }
    .company-table--kind {
        width: 30%;
    }
    th,
    td {
        padding: 12px 18px;
        text-align: center;
        border: 1px solid #aaa;
    }
    th {
        font-weight: normal;
        font-size: 20px;
        background: #f2f2f2;
        color: #242424;
    }
    td {
        font-size: 18px;
    }
}