@charset "UTF-8";
/* 全体
--------------------------- */
.helper {
    max-width: none;
    padding: 0 18px;
    img {
        width: 100%;
    }
}
/* メインセクション
--------------------------- */
.helper-description {
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 0;
    .columns {
        margin: 0;
    }
    .column {
        padding: 0;
    }
}
.helper-description:last-child {
    padding-top: 0;
}
.text-box {
    margin: 0 0 24px 30px;
}
.text-box__text {
    margin: 0;
    font-size: 22px;
    text-align: left;
}