@charset "UTF-8";

/* SP対応
--------------------------- */
@media screen and (max-width: 1023px) {
    /* みなとをご紹介
    --------------------------- */
    .columns {
        margin-top: 0;
    }
    .columns:last-child {
        margin-bottom: 0;
    }
    .special {
        padding: 0;
        h2 {
            margin-bottom: 12px;
            font-size: 28px;
        }
    }
    .special-inner {
        padding: 40px 0;
        .columns {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .special-box {
        padding: 18px 18px 0 18px;
        -webkit-transform: none;
        transform: none;
        -webkit-transition: none;
        transition: none;
    }
    .special-box:hover {
        -webkit-transform: none;
        transform: none;
    }
    .special-box-inner__text {
        margin: 4px 0 0 8px;
    }
    /* みなとでの過ごしかた
    --------------------------- */
    .feature {
        padding: 0;
        h2 {
            margin: 0 0 0 0;
            font-size: 28px;
        }
    }
    .feature-inner {
        padding: 40px 0 40px 0;
        .columns {
            margin: 0;
            padding: 0;
        }
        img {
            margin: 16px 0 0 0;
        }
    }
    .feature-box {
        padding: 40px 18px 0 18px;
    }
    .feature-box-inner__title {
        margin: 0;
        font-weight: bold;
        font-size: 21px;
        text-align: center;
    }
    .feature-box-inner__text {
        margin: 10px 0 0 0;
        font-weight: normal;
        font-size: 18px;
    }
    .feature-box__btn {
        margin: 16px auto 0;
        a {
            padding: 13px 0;
        }
        a:hover {
            opacity: 1;
            transition: all .3s;
        }
    }
    /* お知らせ
    --------------------------- */
    .news {
        padding: 0 18px;
        h2 {
            margin-bottom: 40px;
            font-size: 28px;
        }
    }
    .news-inner {
        padding: 40px 0;
    }
    .news-box__btn {
        margin: 20px auto 0;
        a {
            padding: 13px 0;
        }
        a:hover {
            opacity: 1;
            transition: all .3s;
        }
    }
}