@charset "UTF-8";

/* スライダー
--------------------------- */
.VueCarousel-slide {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    img {
        width: 1200px;
    }
}
.top {
    max-width: none;
}
